<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamentos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Agendamentos</h1>
    <a href="/schedule">Agendar Serviço</a>
    <ul>
        {% for appointment in appointments %}
            <li>
                {{ appointment.name }} - 
                Serviços: 
                {% for service in appointment.services %}
                    {{ service.name }} ({{ service.price }}){% if not loop.last %}, {% endif %}
                {% endfor %}
                - Data: {{ appointment.date }}
            </li>
        {% endfor %}
    </ul>
    <a href="/admin">Página do Administrador</a>
</body>
</html>
