<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Serviço</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='notify.css') }}">
</head>
<body>
    <div class="container">
        <h1>Agendar Serviço</h1>
        <form id="scheduleForm" action="/schedule" method="post">
            <label for="name">Nome e Sobrenome:</label>
            <input type="text" id="name" name="name" required>

            <label>Tipo de Serviço:</label>
            <div class="checkbox-group">
                {% for service in services %}
                    <label class="checkbox-container">
                        {{ service.name }} - R${{ service.price }}
                        <input type="checkbox" name="service" value="{{ service.name }} - R${{ service.price }}">
                        <span class="checkmark"></span>
                    </label>
                {% endfor %}
            </div>

            <label for="date">Data:</label>
            <input type="date" id="date" name="date" required>
            <button type="submit">Agendar</button>
        </form>

        <!-- notify -->
        <div class="notification" id="notification">
            <span id="notificationMessage"></span>
            <span class="close-btn" onclick="closeNotification()">×</span>
        </div>
    </div>

    <script src="{{ url_for('static', filename='notify.js') }}"></script>
</body>
</html>
